*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* nav bar */
img[alt='logo'] {
    width: 5rem;
}
body{
    text-align: center;
}
img[alt='img1'] {
    width: 15rem;
    height: 15rem;
    
}
section {
    /* so that sticky nav bar doesnt affect the scrolling to different sections */
    scroll-margin-block: 6rem;
}
/* featured product images */
img[alt='img2'] {
    width: 15rem;
    height: 15rem;
}
img[alt='img3'] {
    width: 15rem;
    height: 15rem;
}

/* product images */
img[alt='prod1'] {
    width: 15rem;
    height: 15rem;
}
img[alt='prod2'] {
    width: 15rem;
    height: 15rem;
}
img[alt='prod3'] {
    width: 15rem;
    height: 15rem;
}
img[alt='prod4'] {
    width: 15rem;
    height: 15rem;
}
img[alt='prod5'] {
    width: 15rem;
    height: 15rem;
}
img[alt='prod6'] {
    width: 15rem;
    height: 15rem;
}
img[alt='peter'] {
    width: 15rem;
    height: 15rem;
}
img[alt='emily'] {
    width: 15rem;
    height: 15rem;
}
img[alt='jacob'] {
    width: 15rem;
    height: 15rem;
}


